@charset "utf-8";

/* Style Coleticidade */

* {-webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;}
p {text-align:justify;}

body{font-family: avenir-roman, Arial, Helvetica, sans-serif;}  
hr {margin-top: 15px;margin-bottom: 15px;}
input.login {background-color:#f7f7f7; font-family: avenir-light, Verdana, Geneva, sans-serif; height:40px;}
.gray-background{background-color:#f7f7f7; padding: 30px 0; position: relative;}
.gray-border {border:solid 4px #f7f7f7;padding: 12px 12px 120px 12px;}
.disable {display:none;}
.banner-home {height: 670px; }
.position-relative{position:relative;}
.top-align {top:-35px}
.borde-top {border-top:solid 1px #CCCCCC;}	
#join {margin-top:6px;}	
a {cursor:pointer;}
	
/* HOME */
	#nav-header	li, .navbar-nav {text-align:center;}
	#nav-header	li p {margin-bottom:0; font-family:avenir-bold, Verdana, Geneva, sans-serif; color:#666;}
	#nav-header	li span {font-family:avenir-light, Verdana, Geneva, sans-serif; color:#999;}
		.align-navbar-right {margin-top:6px;}
		.align-navbar-right i.fa-search{font-size:20px;}
		.align-slider{top:-35px;position:relative}
	
	#nav-header	li:hover p, #nav-header	li:hover span {color:#0CC;}
	
		.navbar-right {width:250px;}
		.navbar-right li{ float:left; }
		.navbar .divider-vertical {margin: 15px 2px 0px 2px; height:37px; border-right: solid 1px #DBDBDB;}
		.navbar .nav > li:last-child {display: none;}
	
	
	.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {display: block; max-width: none; width: 100%;}
	.principal-banner>.item>img {height:100%; width:auto;}
	
	.count-project-box{width:100%; height:150px;margin-top: 5%;}
	.count-project {background-color:rgba(255, 255, 255, 1); width:100%; height:80px;top: 40px;position: relative; color:#333; font-family: "avenir-roman",Verdana, Geneva, sans-serif; padding:10px;}
	.picture {position: absolute;z-index: 3; left: 75px;bottom: -55px;}
	.picture img {width: 70px;	height: 70px;		border-radius: 50%;}
	.count-text span {font-family: "avenir-bold",Verdana, Geneva, sans-serif; font-size:26px;}
	.count-text div {font-size:13px; text-transform:uppercase;}
	.count-text > div {border-right:solid 1px #d3d3d3;}
	.count-text > div:last-child {border-right:0;}
	
	.count-mini-box{width:100%; height:80px;top: 40px;position: relative; color:#333; font-family: "avenir-roman",Verdana, Geneva, sans-serif; padding:10px;}
	.count-mini > ul {left: -25px;}
	.count-mini > .picture {position: absolute;z-index: 3;left: 30px;bottom: 25px;}	
	.count-mini > .picture img {width: 70px;	height: 70px;		border-radius: 50%;}
	.count-mini > .cont-text {top: -30px;position: relative;}
	.count-mini > .cont-text span {font-family: "avenir-bold",Verdana, Geneva, sans-serif; font-size:14px; color:#666;}
	.count-mini > .cont-text div {font-size:9px; text-transform:uppercase; color:#999; }
	.count-mini > .cont-text  [class*="col-"] {border-bottom: solid 1px #d3d3d3;border-right: 0;line-height: 13px;padding: 9px 0;}
	.count-mini > .cont-text  [class*="col-"]:last-child {border-bottom:0; border-right:0;}
	.count-mini > .stats-container-mini {	position: absolute;z-index:2;}
	.count-mini > .stats-container-mini .circular-stat .digit-label {top: 11.5%;}
	.count-mini > .stats-container-mini li {display: inline-block;margin: 0;position: relative;}
	
	.carousel {position: initial;}
	#carousel-mobile {height:250px;}
	#plus-events-mobile {display:none;}
	.mobile-carousel-box {height:250px;}
	.mobile-carousel-box p {text-align:center;}
	.mobile-carousel-box > img {margin:auto; width: 116px !important; height: 116px !important;}
	.mobile-indicator {bottom:0 !important;}
	.carousel-text-mobile {top:90px !important;}
	.carousel-text-mobile h4, .carousel-text-mobile p {color:#333;}
	
	
	.plus-icon {margin-top: 35px; margin-bottom: 35px;}
	.popular-container a, .popular-container h5, .popular-container p {color:#222;}
	.popular-container a {border:solid 2px #fff; display:block;}
	.popular-container a:hover {background-color:#e6fff7; display:block; color:#222; border:solid 2px #00d79b;}
	.popular-container img{width: 100%;}
	.popular-container, .popular-container h5 {line-height:20px;}
	.badge-envie-nos { padding: 15px 50px !important; border-radius: 53px !important;}
	.badge-veja-mais {top: -35px;position: relative; padding: 15px 50px !important; border-radius: 53px !important;}
		
	#map {width: 100%; height: 350px; position:relative;}
	.map-line{width:100%; background-color:#3399cc; padding:25px 0 ; display:table; }
	.footer-line{width:100%; background-color:#2a394a; padding:40px ;}	
	.all-right-reserved-line{width:100%; background-color:#fff; height:50px; text-align:center; vertical-align:middle; line-height:50px; }	
	.all-right-reserved-line p {margin:0;}	
	

	.map-layer {background: rgba(124,133,144, 0.8); width:33%; height: 352px; position:absolute; bottom:-1px; left:0; z-index:20; padding:20px; color:#FFF;}
	.map-layer:after{ content:"";  width:0;  height:0;  position:absolute;  border-top:20px solid transparent;  border-bottom:20px solid transparent;  border-left:20px solid rgba(124,133,144, 0.8); right:-20px; top:45%;}
	.map-layer p {float: right;text-align: right;font-size: 17px;position: absolute;right: 20px;top: 40%;}
	.map-layer a, .map-layer a:hover {color:#FFF;}
	
	ul.menu-footer {padding: 20px 0 0 0;}
	ul.menu-footer .text-bold {font-size:14px;}
	ul.menu-footer li{list-style:none; color:#fff;  font-family:avenir-light, Verdana, Geneva, sans-serif}
	ul.menu-footer li a{color:#fff; font-size:13px; font-family:avenir-light, Verdana, Geneva, sans-serif}
	ul.menu-footer li a:hover{color:#33cc99; text-decoration: none;}
	#email {font-size:14px;  font-family:avenir-bold, Verdana, Geneva, sans-serif}
	.redes-sociais {  float:left; margin-right:10px;}
	.log-in {margin-top: 22px;margin-left: 10px;display: table; cursor:pointer;}
	.dropdown-login {padding: 5px 20px 15px; width:330px;position: absolute;top: 53px;left: -102px !important;border-radius: 0;}
	/*.dropdown-login span {padding-top:13px;}*/
	.form-group h3 {margin-top:0; margin-bottom:25px;}
	.btn-facebook {background-color:#3b5998; color:#fff; width:100%; text-align:center; padding:10px 0;}
	.btn-facebook:hover {color:#fff; background-color:#2d4881;}
	.form-email {margin-bottom:15px;}
	.btn-sigin {padding:13px 15px;}
	.link {color:#3399cc;}
	.link:hover {color:#4aadde;  text-decoration:underline;}
	
	
	/*SEARCH BOX*/
	#open-search {position: absolute;z-index: 3;background: rgba(53,112,144,0.9);top: 72px;width: 100%;left: 0;color: #fff;text-align: center; }
	#open-search .search-input {width:50%; margin:auto; padding:20px 0;}

	#open-search .search-input > input {background-color:transparent; border-top:0; border-right:0; border-bottom:0; border-left: solid 2px #fff; color:#fff; font-size:18px; font-family:avenir-light, Verdana, Geneva, sans-serif;  width:100%; padding:10px; height:60px;}
	#open-search .search-input > ::-webkit-input-placeholder{color:#fff; font-size:18px; font-family:avenir-light, Verdana, Geneva, sans-serif; }
	#open-search .search-input button{height:60px;}
	.btn-transparent {border:0; background-color: transparent;}
	

/* PROJECT */

.background-image-full {height:670px; position:absolute; width: 100%;overflow: hidden;}
.background-image-full img {width:100%;}
.image-project-crop img {width:750px;}	
.image-project-crop {height:450px; overflow:hidden;}
	
	.count-project-box-in{width:100%;}
	.count-project-in {background-color:rgba(255, 255, 255, 0); width:100%; color:#FFF; font-family: "avenir-roman",Verdana, Geneva, sans-serif; }
	.count-project-in > .circle-percent{height:210px;}
	.picture-in {position: absolute;z-index: 3;top: 120px;}
	.picture-in img {width: 70px;	height: 70px;		border-radius: 50%;}
	.count-text-in span {font-family: "avenir-bold",Verdana, Geneva, sans-serif; font-size:21px;}
	.count-text-in div {font-size:11px; text-transform:uppercase;}
	
	
	.stats-container-in {	position: absolute; z-index:2; padding-left: 0;}
	.stats-container-in li {display: inline-block;margin: 0 4% 5px;position: relative;}

.project-back-button {width: 60%;text-align: center;top: 47px;left: 100px;position: relative;}
.project-back-button:focus {color:#069;}
.project-back-button a {background-color: #FFF;height:100%; width:100%; display:block; padding: 10px 20px 10px 65px;color: #333;}
.project-back-button a:hover {color: #333; background-color: #33cc99; border-radius:15px;}
.redes-sociais-in i {padding:10px 5px; font-size:1.7em;}
.redes-sociais-in a {color:#FFF;}
.redes-sociais-in a:hover, .follow-project a:hover {color:#33cc99;}
.follow-project {text-align:right;padding-top:5px;}
.follow-project span {position: absolute;right: -26px;top: -1px; width:26px; height:51px}
.follow-project a {color:#FFF; font-size:12px; }
.active > a{color:#33cc99;}
.hide {display:none;}

.projeto-fazer-juntos {color:#222; margin-top:25px;}
.fazer-juntos-card {padding: 20px 0;border-bottom: solid 1px #CCCCCC;display: table;width: 100%;}
.fazer-juntos-card h4 {padding-top:5px;}
.fazer-juntos-card p{padding: 20px 0 5px 0;}
i.fa.fa-question-circle {font-size: 22px;position: relative;top: -12px;}
i.fa.fa-picture-o.fa-2x {margin-top: 10px;font-size: 50px;margin-left: 10px;}
.btn-quero {right: 0;top: 10px;width: 100%;}



.btn-back-box{text-align:center; padding-top: 45px;}
.btn-back-box-sm {text-align:center;} 
.btn-back-box button {font-size: 18px;line-height: 22px;padding: 17px 45px; margin:auto;}

.btn-back-box-sm a{font-size: 18px;line-height: 22px;padding: 15px 55px; margin:auto;}

.infos-project {border-bottom:solid 1px rgba(255,255,255,0.5); border-top:solid 1px rgba(255,255,255,0.5); padding: 10px 0;margin-left: 10px; margin-top:20px;}	

.reward-modules {margin-bottom:20px;}
.description-box {background-color:#79fed1; padding:20px; border-radius:10px; margin-top:20px; position:relative;}
.description-box:after {content:"";  width:0;    height:0;	position:absolute;	bottom:-10px;	right:20px;    border-top:20px solid #79fed2 ;    border-right:20px solid transparent;    border-left:20px solid transparent;}
.description-box p {color:#484848;}
.picture-in-description {position: absolute;z-index: 3;}
.picture-in-description img {width: 70px;	height: 70px;		border-radius: 50%;}

.description-owner {color: #606060;line-height: 10px;margin-top: 20px;}
.description-owner p {font-family:avenir-bold, Verdana, Geneva, sans-serif; color:#33cc99;}	
	
.project-tabs {margin-top:30px;}
.costs-project-box {}	
.news-project-box {margin-bottom:40px;}
.news-project-box:last-of-type {margin-bottom:10px;}
.project-backers-box h3, .project-map-box h3 {margin:30px 0 30px 0; font-family:avenir-bold, Verdana, Geneva, sans-serif;}
.project-backers-box img{ 	margin:0;	font-size: 0;	float:left;	display:table;	
	width: 5%;                        
	width: -webkit-calc(100% / 20);  
	width: -moz-calc(100% / 20);     
	width: calc(100% / 20);          } 
		
	/*GrayScale*/
	
	img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

img.grayscale:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}

	
.map-layer-project {background: rgba(124,133,144, 0.8); width:33%; height: 352px; position:absolute; top:90px; left:0; z-index:20; padding:20px; color:#FFF;}
.map-layer-project:after{ content:"";  width:0;  height:0;  position:absolute;  border-top:20px solid transparent;  border-bottom:20px solid transparent;  border-left:20px solid rgba(124,133,144, 0.8); right:-20px; top:45%;}
.map-layer-project p {float: right;text-align: right;font-size: 17px;position: absolute;right: 20px;top: 40%;}
.map-layer-project a, .map-layer-project a:hover {color:#FFF;}	

.title-project-box h4{color:#606060; font-family:avenir-bold, Verdana, Geneva, sans-serif; border-bottom: solid 1px #CCCCCC; padding: 10px 0;}
.title-project-box h3.total{color:#606060; font-family:avenir-roman, Verdana, Geneva, sans-serif; padding: 10px 0; font-size:18px; margin-top:0;}
.title-project-box h3.total-number {font-size:18px;color:#606060; font-family:avenir-bold, Verdana, Geneva, sans-serif;  padding: 10px 0;margin-top:0;}
.image-reward-project img {width:100%;}
.project-backers {font-size: 16px; margin-top:20px; color:#222;}
.btn-reward-box {}
.btn-reward-box button {font-size: 14px;padding: 7px 40px;}

.project-tabs {color:#606060;}
.nav-tabs > li > a {color:#999; font-size:14px; font-family:avenir-light, Verdana, Geneva, sans-serif; }
.nav-tabs > li > a:hover{color:#666;}
.nav-tabs > li > a:hover .alert-project {background-color: #666;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
color: #00d79b;cursor: default;background-color: #fff;border-bottom: 2px solid #00d79b;border-top-color: transparent;
border-left-color: transparent;border-right-color: transparent; font-family:avenir-bold, Verdana, Geneva, sans-serif;}

.nav-tabs > li.active > a .alert-project {color: #FFF;background-color: #00d79b;border-color: #00d79b;}
.nav-tabs > li > a:hover{border-color: transparent;}
.nav > li > a:hover, .nav > li > a:focus {text-decoration: none;background-color: transparent;}

.panel-title {position:relative; font-family:avenir-bold, Verdana, Geneva, sans-serif;}
.panel-title a:hover, .panel-title a:focus {text-decoration:none; color: #999;}
.accordion-toggle i {	position:absolute;	right:0;}

.panel-default > .panel-heading {color: #333;background-color: transparent;border-bottom: 1px solid #E8E8E8;border-top-color: transparent;border-left-color: transparent;
border-right-color: transparent; padding:15px 15px 15px 0;}
.panel-group .panel-heading + .panel-collapse > .panel-body {border-top: 0;}
.panel-default {border-color: transparent;}
.panel { border: 0;  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0); box-shadow: 0 1px 1px rgba(0, 0, 0, 0); }

.costs-modules {margin-bottom:15px;}
.costs-modules > [class^="col"] p {padding-top:5px;}

#news p > img{width:250px; margin-right:20px;}
.news-image {height:145px; overflow:hidden; margin-bottom:20px;}
.news-image img {width:100%;}

.btn-image {padding:0; border:0;}


/* PROJECT SEARCH*/

.background-image-full-mini {height:354px; position:absolute; width: 100%;overflow: hidden;}
.background-image-full-mini img {width:100%;}
#search-project-banner {color:#FFF; height:320px;  line-height:50px; padding-top: 40px;}
#search-project-banner p {line-height: 10px; font-size:18px;}
span.line {border-top: solid 1px #fff;width: 2%;height: 20px;line-height: 0;border-top-width: 2px;display: block;}
#search-project-banner span, .btn-blue-square {font-size:36px; font-family: avenir-light, Verdana, Geneva, sans-serif;}
#search-project-banner span {}
.btn-blue-square {color: #FFF;background-color: #3399cc;border-color: #3399cc;border-radius: 0; padding: 0 10px;}
.btn-blue-square:hover {color: #FFF;background-color: #2d88b6;border-color: #3399cc;border-radius: 0; padding: 0 10px;}
.dropdown-menu-banner {top: 50px;width: 100%;border-radius: 0; border-top: solid 1px #49addf; background-color:#3399cc;}
.dropdown-menu-banner li a {color:#fff; font-family: avenir-light, Verdana, Geneva, sans-serif;}

.dropdown-menu-banner li {padding:0 10px;}

.nav-filter h3 {font-size:20px; color:#3399cc; }
.nav-filter > div[class^="col-"] > span > a > i {padding:0 5px 0 5px;}
.nav-filter > div[class^="col-"] > span.mtop {position: relative;top: 20px; color:#3399cc;}
.nav-filter > div[class^="col-"] > span.mtop a {color:#3399cc;}
.nav-filter > div[class^="col-"] > span.mtop a:hover {color:#3ce6ff;}
.nav-filter > div[class^="col-"] > span.mtop2 {top: 15px; position: relative; color:#3399cc;}
.select-ordenado {position: relative;top: 15px;background-color: #3399cc;border-radius: 20px;color: #fff;padding: 5px 30px 5px 10px; -webkit-appearance: none; appearance: none; -moz-appearance: none; -ms-appearance: none;}
.select-ordenado option {padding:10px; margin-bottom:5px;}
.arrow-select {width: 0;position: absolute;top: 22px;right: 15px;height: 0;border-style: solid;border-width: 5px 5px 0 5px;border-color: #FFFFFF transparent transparent transparent;}
span.line-left {border-left: solid 1px #e0e0e0;position: relative;left: -15%;top: 14px;}


/* PERFIL */

#meuperfil,#meusprojetos,#seguindo,#apoiando,#novidade {min-height:500px; margin-bottom:20px;}
.btn-coletividade {border-radius:0; padding:10px 40px;}
.picture-perfil-login{position: absolute;top: -5px; width: 160px;}
.picture-perfil-login img{width: 40px;	height: 40px; border-radius: 50%; float:left; }
.picture-perfil-login span.badge{position: absolute;left: 30px;bottom: -5px;padding: 4px;}
.picture-perfil-login i {position: absolute;top: 12px; right:0;}

.dropdown-perfil-login {padding: 10px 0 9px;width: 200px;position: absolute;top: 53px;left: 0 !important;border-radius: 0; padding-bottom:0;}
.dropdown-perfil li{float:inherit; list-style:none; margin-bottom:10px;}
.dropdown-perfil li a{color:#3398cc; font-family: avenir-light,Verdana, Geneva, sans-serif;  }
.dropdown-perfil li a:hover{color:#76c8f2; }
.dropdown-perfil {padding-left:0;}
.dropdown-perfil span.badge{margin-left:5px;}
.dropdown-perfil-logout {background-color: #3398cc;color: #fff;padding: 10px 15px 10px 15px;text-align: center;}
.dropdown-perfil-logout a {color:#FFF;}
.dropdown-perfil-logout a:hover {color:#CCC;}

#perfil-banner {color:#FFF; height:320px;  line-height:50px; padding-top: 40px; position:relative;}
#perfil-banner > p {line-height: 10px; font-size:18px;}
.name-box-perfil {position:absolute; bottom:50px; width:100%;}
.name-box-perfil h4 {font-family:avenir-bold, Verdana, Geneva, sans-serif; font-size:24px; margin-left: 100px;}
.banner-count-perfil {text-align:center; font-family:avenir-light, Verdana, Geneva, sans-serif;}
.banner-count-perfil > [class^="col-"] > p {float: left;font-size: 50px;line-height: 20px; width:100%; text-align:center;}
.banner-count-perfil  span {font-size:14px; }
.menu-perfil {width:100%; height:50px; background-color: rgba(0,0,0,0.5); position:absolute; left:0;top: -51px; color:#FFF;}

	/*HOVER IMAGE EFFECT*/
	
	*, *:after, *:before { border-box; box-sizing: border-box; }
	.clearfix:before, .clearfix:after { content: ''; display: table; }
	.clearfix:after { clear: both; }
	figure.effect-coleticidade figcaption .date {position:absolute;	right:0;top:0;}
	figure.effect-coleticidade figcaption .date .day{font-size:28px;width:30px;	display: table;	float: left;}
	figure.effect-coleticidade figcaption .date .line{border-right:solid 1px #fff;	display: table;	float: left;	margin: 9px 4px 0 7px;}
	figure.effect-coleticidade figcaption .date .month{	font-size:10px;	width:30px;	display: table;	float: left;padding: 6px;}
	figure.effect-coleticidade {background: #42b078;}
	figure.effect-coleticidade img {width: -webkit-calc(100% + 20px);width: calc(100% + 20px);	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;	transition: opacity 0.35s, transform 0.35s;
		-webkit-transform: translate3d(-10px,0,0);	transform: translate3d(-10px,0,0);	-webkit-backface-visibility: hidden;backface-visibility: hidden;}
	figure.effect-coleticidade:hover img {opacity: 0.4;	-webkit-transform: translate3d(0,0,0);	transform: translate3d(0,0,0);}
	figure.effect-coleticidade figcaption {	text-align: left;}
	figure.effect-coleticidade h2 {	overflow: hidden;padding: 0.2em 0;font-size:14px;font-family:avenir-light, Verdana, Geneva, sans-serif;	position: absolute;	bottom: 20px;text-align:center;	}
	figure.effect-coleticidade:hover h2 {overflow: hidden;	padding: 0.2em 0;	font-size:14px;	font-family:avenir-light, Verdana, Geneva, sans-serif;	position: absolute;	top: 45px;	text-align:center;}
	figure.effect-coleticidade h2::after {position: absolute;top: 85px;left: 0;	width: 100%;height: 1px;background: #fff;content: '';-webkit-transition: -webkit-transform 0.35s;transition: transform 0.35s;
		-webkit-transform: translate3d(-100%,0,0);transform: translate3d(-100%,0,0);}
	figure.effect-coleticidade:hover h2::after {-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}
	figure.effect-coleticidade p {padding: 1em 0;	opacity: 0;-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;transition: opacity 0.35s, transform 0.35s;-webkit-transform: translate3d(100%,0,0);
		transform: translate3d(100%,0,0);}
	figure.effect-coleticidade:hover p {opacity: 1;	-webkit-transform: translate3d(0,0,0);	transform: translate3d(0,0,0);}
	.grid {	overflow: hidden;margin: 0;	padding: 2em 0 0 0;	width: 100%;max-width: 1920px;	list-style: none;text-align: center;}
	
	/* Common style */
	.grid figure {	position: relative;	z-index: 1;	display: inline-block;	overflow: hidden;	margin: -0.135em;	width: 100%;	height: 350px;	background: #000000;text-align: center;	cursor: pointer;}
	.grid figure img {	position: relative;display: block;min-height: 100%;opacity: 0.8;}
	.grid figure figcaption {padding: 2em 1em ;	color: #fff;font-size: 1.25em;	-webkit-backface-visibility: hidden;backface-visibility: hidden;}
	.grid figure figcaption::before,.grid figure figcaption::after {pointer-events: none;}
	.grid figure figcaption,.grid figure a {position: absolute;top: 0;left: 0;	width: 100%;height: 100%;}
	.grid figure h2 span {	font-family:avenir-light, Verdana, Geneva, sans-serif;padding-top: 20px;display: table;	font-size: 17px;	line-height: 20px;}
	.grid figure h2,.grid figure p {margin: 0;}
	.grid figure p {letter-spacing: 1px;font-size: 68.5%;top: 95px;	position: relative;	font-family:avenir-light, Verdana, Geneva, sans-serif;text-align:center;}
		
	@media screen and (max-width: 69.5em) {	
	.grid figure {width: 100%;}	
	.grid figure figcaption {font-size: 90%;}
	.grid figure p {top:130px;}
	figure.effect-coleticidade h2::after {top: 110px;	}
		}
	@media screen and (max-width: 41.5em) {
	.grid figure {	width: 100%;}
	}
	/*TABS*/

	.perfil-tabs {border-bottom: 0; margin-left: 100px;}
	.perfil-tabs > li > a {color:#FFF; font-size:13px; font-family:avenir-roman, Verdana, Geneva, sans-serif; height:48px; padding-top: 15px;}
	.perfil-tabs > li > a:hover{color:#00d79b;}
	.perfil-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color:#00d79b !important;	cursor: default;	background-color: rgba(0,0,0,0.3);	border-bottom: 2px solid #00d79b !important;	border-top-color: transparent;
	border-left-color: transparent;	border-right-color: transparent; 	font-family:avenir-bold, Verdana, Geneva, sans-serif !important;}
	.perfil-tabs > li.active > a .alert-project {color: #FFF;background-color: #00d79b;border-color: #00d79b;}
	.perfil-tab-content {}
	.picture-perfil {position: absolute;z-index: 3;bottom: -15px; }
	.picture-perfil img {width: 170px;	height: 170px;		border-radius: 50%; border:solid 8px #222; border-color:  rgba(0,0,0,0.2)}


	/* MEUS PROJETOS*/
	#meusprojetos {}
	#meusprojetos p{text-align:center; font-size:20px;}
	#meusprojetos .btn-green-square {margin:auto;}
	.btn-green-square {font-size:20px; font-family: avenir-light, Verdana, Geneva, sans-serif;}
	.btn-green-square {color: #FFF;background-color: #3ad4a0;border-color: #3ad4a0;border-radius: 0; padding: 10px 20px;}
	.btn-green-square:hover {background-color: #2fc391;border-color: #2fc391;}
		
		
	/* MEU PERFIL */
	#meuperfil {margin:30px 0;}
		
	/* TAB LEFT  */
	
	.tabs-left > .nav-tabs > li,.tabs-right > .nav-tabs > li { float: none; }
	.tabs-left > .nav-tabs > li > a,.tabs-right > .nav-tabs > li > a { min-width: 74px;}
	.tabs-left > .nav-tabs {  float: left;  margin-right: 19px;  border-right: 1px solid #ddd; border-bottom-color: transparent;}
	.tabs-left > .nav-tabs > li > a:hover,.tabs-left > .nav-tabs > li > a:focus {  border-color: transparent; background-color:transparent; color: #999;}
	.tabs-left > .nav-tabs .active > a,.tabs-left > .nav-tabs .active > a:hover,.tabs-left > .nav-tabs .active > a:focus {  border-color:transparent; }
	.picture-perfil-tab { margin-bottom:5px;}
	.picture-perfil-tab img {width: 120px;	height: 120px;		border-radius: 50%; border:solid 5px #222; border-color:  rgba(0,0,0,0.2)}
	.form-control {height:45px; } 
	.form-group label {font-family:avenir-light,Verdana, Geneva, sans-serif;}
	.radio-inline, .radio-inline+.radio-inline {margin-top:10px;}
	.delete-account {width:100%; background-color:#f5f5f5; padding:20px 10px;margin-top:25px;}
	.delete-account .btn-coletividade {margin:auto;}
	.delete-account p {text-align:center; color:#999;}

	
/* SOBRE COLETICIDADE */
	#sobre-banner {color:#FFF; height:320px;  line-height:50px; padding-top: 40px; position:relative;}
	#sobre-banner > p {line-height: 10px; font-size:18px;}
	.menu-sobre {width:100%; height:50px; background-color: #3399cc; position:absolute; left:0;top: -51px; color:#FFF;}
	.sobre-tabs {border-bottom: 0;}
	.sobre-tabs > li > a {color:#8dd6fb; font-size:13px; font-family:avenir-light, Verdana, Geneva, sans-serif; height:48px; padding-top: 15px;}
	.sobre-tabs > li > a:hover{color:#FFF;}
	.sobre-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color:#fff !important;cursor: default;background-color: transparent;border-top-color: transparent;border-bottom-color: transparent !important; 	border-left-color: transparent;border-right-color: transparent; font-family:avenir-light, Verdana, Geneva, sans-serif !important;}
	.sobre-tabs > li.active > a .alert-project {color: #FFF;background-color: #00d79b;border-color: #00d79b;}	
	
	
#o-que-e-coleticidade h4 {font-size:22px; font-family:avenir-bold, Verdana, Geneva, sans-serif; padding:40px 0 20px 0; color:#606060;}	
#o-que-e-coleticidade p {text-align:center; font-size:16px; font-family:avenir-light, Verdana, Geneva, sans-serif; margin-bottom:40px;}

.content-banner-sobre-coleticidade { position:absolute;right: 0;top: 10%;left: 0;z-index: 0;padding-top: 20px;padding-bottom: 20px;color: #fff;text-align: center;}
.content-banner-sobre-coleticidade h3 {font-family:avenir-bold, Verdana, Geneva, sans-serif; font-size:22px; padding-bottom:20px;}
.content-banner-sobre-coleticidade > p { padding:0 23%;}

#sobre-coleticidade-carousel {position:relative;}
#sobre-coleticidade-carousel > ol.carousel-indicators .active {background-color:#fff !important;width: 16px !important; height:16px !important;}
#sobre-coleticidade-carousel > ol.carousel-indicators li {display: block !important;background-color: rgba(255,255,255,0.5) !important; width: 15px !important; height:15px !important; margin-bottom:5px;}
#sobre-coleticidade-carousel > ol.carousel-indicators {position: absolute;bottom: 35%;left: 97%;z-index: 15;width: 10px;padding-left: 0;margin-left: 0;text-align: center;list-style: none;}

.sobre-text {margin-top:20px;}
.sobre-text h4{font-family:avenir-bold, Verdana, Geneva, sans-serif; font-size:22px; padding-bottom:5px; color:#606060;}
.sobre-text  p {font-size:16px; font-family:avenir-light, Verdana, Geneva, sans-serif; color:#606060; text-align:left;}

.na-midia-box {margin-top: 25px;display: table; border-top: solid 1px #CCC;}
.na-midia-date p{text-align: center;margin-top: 13px;background-color: #eee;padding: 17px 20px; color:#999;}
.na-midia-box h3 {font-family:"Times New Roman", Times, serif; font-weight:bold;}


.usuarios-box > [class^="col-"] {margin-bottom:60px;}
.usuarios-box > [class^="col-"] p, .usuarios-box > [class^="col-"] h4, .usuarios-box > [class^="col-"] .redes-sociais-sobre {text-align:center;}
.equipe-picture {text-align:center; padding:15px;}
.equipe-picture img {width: 170px;	height: 170px;		border-radius: 50%; border:solid 8px #222; border-color:  rgba(0,0,0,0.2)}
.redes-sociais-sobre i {padding:10px 15px; font-size:1.2em;}
.redes-sociais-sobre a { color:#606060;}
.redes-sociais-sobre a:hover{color:#33cc99;}

#agradecimento img {width:80%;}

.cursor {cursor:pointer;}
.banner-carousel-inner {height:500px;}

/* VERTICAL */


.carousel.vertical .item { -webkit-transition: 0.6s ease-in-out top; -moz-transition:    0.6s ease-in-out top; -ms-transition:     0.6s ease-in-out top; -o-transition:      0.6s ease-in-out top;  left: 0;}
.carousel.vertical .active,.carousel.vertical .next.left,.carousel.vertical .prev.right { top:0; }
.carousel.vertical .next,.carousel.vertical .active.right  { top:  100%; }
.carousel.vertical .prev,.carousel.vertical .active.left   { top: -100%; }


/* ColorsBar */
.progress-box {idth: 100%;height: 30px;border-radius: 5px;}
.progress {height: 35px;}
.progress-bar-step-1{background-color:#d4fff0;}
.progress-bar-step-2{background-color:#79fed1;}
.progress-bar-step-3{background-color:#59f2bf;}
.progress-bar-step-4{background-color:#47ddab;}
.progress-bar-step-5{background-color:#33cc99;}

/* Font Face */

@font-face {
    font-family: avenir-bold;
    src: url(../fonts/AvenirLTStd-Black.otf) format("opentype");
	font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: avenir-light;
    src: url(../fonts/AvenirLTStd-Light_0.otf) format("opentype");
	font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: avenir-roman;
    src: url(../fonts/AvenirLTStd-Roman_0.otf) format("opentype");
	font-weight: normal;
    font-style: normal;
}

.text-bold{font-family: avenir-bold, Verdana, Geneva, sans-serif}
.text-light{font-family: avenir-light, Verdana, Geneva, sans-serif}
.text-roman{font-family: avenir-roman, Verdana, Geneva, sans-serif}


.btn:hover {color:#fff;}
.btn-blue {color: #fff;background-color: #3399cc;border-color: #278ec1;}
.btn-blue:hover {color: #fff;background-color: #278ec1;border-color: #278ec1;}

/* Bootstrap Customize */

keygen, select, select[size="0"], select[size="1"] {border-radius: 0px;border-color: rgb(255, 255, 255);}
.col-lg-offset-2 {margin-left: 20.666667%;}
.form-control {border-radius:2px;}
a{color:#999;}
a:hover, a:focus {color: #2687b8;text-decoration: none;}
.badge {display: inline-block;min-width: 10px;padding: 4px 7px;font-size: 12px;font-weight: 700;line-height: 1;color: #fff;
text-align: center;white-space: nowrap;vertical-align: baseline;background-color: #777;border-radius: 10px;}
.btn{border-radius:0;}


/*Navbar*/
.navbar-default{background-color:#ffffff;border-color: transparent;}
.navbar-brand {background-color:#ffffff; padding:10px; display:table; position:relative; z-index:4;}	
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{background-color:#ffffff;}
.navbar-toggle {margin-top:18px}		
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{background-color:#52d4a9}
.navbar-default .navbar-toggle:focus .icon-bar{background-color:#fff;}

/* Carousel */
.carousel-caption{position:absolute;right:0;top:20px;left:0;z-index:0;padding-top:20px;padding-bottom:20px;color:#fff;text-align:center;text-shadow:0 0 0 rgba(0,0,0,0)}
.carousel-control.left, .carousel-control.right {background-image:none;}
.carousel-indicators {bottom: 35px;}
.carousel-control {z-index:999;top: 35%;height: 100px;}
.carousel-indicators .active {background-color: #33cc99;}
.carousel-indicators li {display: inline-block;width: 10px;height: 10px;margin: 1px;text-indent: -999px;cursor: pointer;background-color: #000 \9;background-color: rgba(0,0,0,0);border: 1px solid #999;border-radius: 10px;}

/* Modais */

.modal-header {min-height: 16.43px;padding: 15px;border-bottom: 0;}
.modal-footer {padding: 15px;text-align: right;border-top: 0;}
.modal-footer > a {padding:7px 20px 0 0 ;}
.modal-title, .modal-body p, .apoie-detalhe h3 {color:#222; margin-top:0;}
.modal-body p {margin-bottom:60px;}
.modal-title{margin: 0;line-height: 1.42857143;text-align: center;width: 70%;margin: auto;}
.modal-body	 img {width:100%;}
.modal-body > .row {margin-bottom:20px;}
.modal-body > .row:last-child {margin-bottom:0;}

.apoie-detalhe {height:195px;}
.apoie-detalhe span {position:absolute; bottom:0; font-size:16px; color:#33cc99; font-family:avenir-bold, Verdana, Geneva, sans-serif;}
.btn-apoie-detalhe{right: 15px;bottom: 0;position: absolute;}

/* Remove do Margin e Padding Boostrap Cols*/
	.remove-ml{margin-left: 0 !important;}
	.remove-mt{margin-top:0 !important;}
	.remove-mr{margin-right:0 !important;}
	.remove-mb{margin-bottom:0 !important;}
	
	.remove-pl{padding-left: 0 !important;}
	.remove-pt{padding-top:0 !important;}
	.remove-pr{padding-right:0 !important;}
	.remove-pb{padding-bottom:0 !important;}
	.remove-plr{padding-right:0 !important;padding-left:0 !important;}
	.margin-top-20 {margin-top:20px;}
	
	/* Badge Colors */
	.badge-error { background-color: #b94a48;}
	.badge-error:hover { background-color: #953b39;}
	.badge-warning {  background-color: #f89406;}
	.badge-warning:hover {  background-color: #c67605;}
	.badge-success {  background-color: #3ad4a0;}
	.badge-success:hover {  background-color: #2fc492;}
	.badge-info{  background-color: #3399cc;}
	.badge-info:hover {  background-color: #2687b8;}
	.badge-inverse {  background-color: #333333;}
	.badge-inverse:hover {  background-color: #1a1a1a }
	.badge-notification{background-color:#cc0653;}
	.badge-notification:hover{background-color:#e11262;}
	/* Button Colors */
	.btn-success {background-color:#33cc99; border:solid 1px #2dbf8e;}
	.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {background-color:#2dbf8e;  border:solid 1px #2dbf8e; }

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus,
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {background-color:#FFF;}
.popover.top {margin-top: 15px;}
.popover.top > .arrow {top: -20px;left: 50%;margin-left: -11px;border-top-color: #999;border-top-color: rgba(0,0,0,.25);border-bottom-width: 0;}
.popover.top .box-reverse.left {background-color: #FFF;width: 44%;height: 15px;position: absolute;top: -10px;left: 0px;}
.popover.top .box-reverse.right {background-color: #FFF;width: 44%;height: 15px;position: absolute;top: -10px;right: 0px;}
.popover.top > .reverse {top: -10px;left: 50%;margin-left: -20px;background:url(../image/icon-arrow-reverse.png); position: absolute; width:45px; height:15px;}
.popover {max-width:none;}	
	 /* Text Colors*/
	.text-info {color:#3399cc;}
	.text-white {color:#fff;}
	.text-gray {color:#999;}
	.text-green {color:#33cc99;}
	
	/* Text Sizes */
	h1 {font-size:44px;}
	h3 {font-size:28px;}
	p {font-size:14px;}


.btn:focus {color: #3ce6ff;text-decoration: none; }
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {background-color:transparent;}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {color: #FFFFFF;text-decoration: none;background-color: transparent; cursor:pointer;}
.btn-group, .btn-group-vertical {position: relative;display: inline-block;vertical-align: top;}

.has-feedback .form-control {padding-left: 42.5px;}
.has-feedback label.sr-only~.form-control-feedback {top: 14px;left: 6px; color:#999;}
	/* New Colluns  1/5 */
	
	.col-xs-15,.col-sm-15,.col-md-15,.col-lg-15 {position: relative;  min-height: 1px;  padding-right: 10px;  padding-left: 10px;}
	.col-xs-15 {width: 20%; float: left;}
	@media (min-width: 768px) {	
	.col-sm-15 {width: 20%;	float: left;}
	}
	@media (min-width: 992px) {
	.col-md-15 {width: 20%;	float: left;}
	}
	@media (min-width: 1200px) {
	.col-lg-15 {width: 20%;	float: left;}
	}
/* @media */


/* Contador */

.stats-container {
	position: absolute;left: 40px; z-index:2; bottom: -50px;}

.stats-container li {
display: inline-block;
margin: 0 4% 5px;
position: relative;
}


.circular-stat .digit-label {
color: #33cc99;
font-family: avenir-light, "Helvetica Neue", Helvetica, arial, sans-serif;
font-size: 2.2em;
text-align: center;
display: inline-block;
position: absolute;
top: 4.5%;
width: 75%;
left: 6.5%;
padding: 30px 0 0 30px;
  text-shadow:-1px 1px 0px #fff 
white-space: nowrap;
overflow: hidden;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}

.circular-stat .text-label {
font-family:avenir-bold, "Helvetica Neue", Helvetica, arial, sans-serif;
color: #fff;
font-size:0.9em;
top: 50%;
left: 21.875%;
width: 56.25%;
padding-top: 6px;
display: inline-block;
position: absolute;
text-align: center;
border-top: 1px solid #999;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}

span.text-title {
color:  #444;
font-family: "Noto Sans", "Helvetica Neue", Helvetica, arial, sans-serif;
text-align: center;
letter-spacing: -1px;
font-size: 1.3em;
font-weight: 400;
text-shadow: -1px 1px 0px #FFF;
padding: 30px 10px 0 0px;

white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
z-index: 99999;
display: block;
text-shadow: -1px 1px 0px #fff;
}

span.text-dates{
font-size: 1.5em;
font-family: "Noto Sans", "Helvetica Neue", Helvetica, arial, sans-serif;
color: #999;
text-shadow: -1px 1px 0px #fff;
}

@media only screen and (min-width: 1010px) { 
.stats-container li {margin: 0 2% 5px;}
}
@media only screen and (max-width: 1009px) { 
.stats-container li {margin: 0 -.2em 5px;}
}


/*Menu Mobile*/

@media (max-width:576px){
    .map-layer {width:70%;}
	.gray-border {border: solid 4px #f7f7f7;padding: 12px 12px 95px 12px;}
    .redes-sociais-box {margin-left: 23%;}

}

@media (max-width: 869px) {
	.align-slider {margin-top: -60px;}
	.navbar-toggle {margin-top: 20px;}
	.align-slider{top:0;position:relative}
	.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {display: block; max-width: none; height: 100%; width:auto;}
	}

@media (max-width: 870px) {
	#nav-header	li, .navbar-nav {text-align:left;}
	.popover.top > .arrow, .popover.top .box-reverse.left, .popover.top .box-reverse.right, .popover.top > .reverse {display:none;}
	.disable {display:block;}
	.banner-indicators {bottom: 325px;}
	
	.not-show-mobile {display:none !important;}
	.banner-home {top: 50px; height:400px; overflow:hidden; margin-bottom: 30px;}
	.navbar-collapse.in { overflow-y:inherit ; }
	.dropdown-login {padding: 5px 20px 15px;width: 330px;position: absolute;top: 53px;left: 0 !important; border-radius: 0;}
	#plus-events-mobile {display:block;}
	#plus-events {display:none;}
}
	
@media (max-width:991px) {
 .container {width:100%;}
 .carousel-control .icon-prev, .carousel-control .icon-next, 
 .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {position: absolute;top: 95%;z-index: 5;display: inline-block;}	
 .col-md-6 > .gray-border > .count-mini > .stats-container-mini {left:10px;}
	
}
@media (max-width:810px){
    .popover.top {margin-top: 12px;}
	.navbar-right {float:left !important; margin-bottom:20px;}
	.footer-line {text-align:center;}
	.redes-sociais-box {margin-left: 37%;}
}

@media (max-width:1500px) {
	.carousel-inner>.item>img, .carousel-inner>.item>a>img {display: block; height:100%; width:auto;}
}

@media (max-width:2000px) {
	.background-image-full-mini img {width:auto; height:100%;}
	.img-responsive, .thumbnail>img, .thumbnail a>img{display: block; height: 100%; width:auto;}
	.background-image-full img {width:auto; height:100%;}
}
	


